<nav class="container navbar navbar-default" role="navigation">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Catálogo", "Index", "Catalogo")</li>
        <li>@Html.ActionLink("Área de clientes", "Index", "Clientes")</li>
        <li>@Html.ActionLink("Contacto", "contacto", "Home")</li>
        <li>@Html.ActionLink("Más información", "masinfo", "Home")</li>
    </ul>
</nav>